/* Background color for the page */
body {
    background-color: #bde0fe; /* Light pastel blue */
}

/* Navbar styling */
.navbar {
    background-color: #219ebc; /* Bright blue navbar */
}

/* Button styling for blue buttons */
.btn {
    background-color: #219ebc;
    color: white;
}

.btn:hover {
    background-color: #bde0fe; /* Light blue on hover */
    color: #219ebc; /* Darker text for contrast on hover */
}

/* Card Titles */
.card-title {
    color: #219ebc; /* Bright blue text for card titles */
}
