body{
    background-color: #bde0fe;
}
#nav-bar {
    background-color: #219ebc;
    height: 80px;
    position: sticky;
    
}

.nav-item:hover{
    transition-duration: 300ms;
    background-color: #90e0ef;
    color: white;
}
.btn{
    background-color: white;
}

#CarVibe{
    width: 200px;
    height: 200px;
    padding-top: 17px;
    position:static;

}
.navbar{
    height: 100%;
    padding: 0;
}
@media (max-width: 768px){
    #CarVibe {
        width: 30%;
        padding-top: 5px;
    }
    #nav-bar {
        height: auto;
    }
    .navbar-collapse {
        text-align: center;
    }
    .nav-item{
        margin: 0.5rem 0;
    }
}
